<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="header">
    <div class="header-container">
        <div class="header-left">
            <a>VIEW</a>
            <a>发现</a>
            <a>最新</a>
        </div>
        <div class="header-right">
            <a id="signup">注册</a>
            <a>登录</a>
        </div>
    </div>
</div>