<%- include header.ejs %>

<div class="header">
  <div class="header-container">
    <a href="/" class="header-icon"><img src="/images/eye.png"> </a>
    <div class="header-left">
      <a href="/view">发现</a>
      <a>最新</a>
    </div>
    <div class="header-right">
      <% if (user) { %>
      <a id="right-user"><%= user.name %></a>
      <a href="/logout">退出</a>
      <% } else { %>
      <a id="signup">注册</a>
      <a id="signin">登录</a>
      <% } %>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div id="mask"></div>
<div id="signupFrame">
  <div class="sign-icon"><img src="/images/eye.png"></div>
  <div class="sign-top">
    注册
  </div>
  <div class="sign-form">
    <form action="/signup" method="post">
      <input type="text" placeholder="请输入用户名..." name="name">
      <input type="text" placeholder="请输入邮箱..." name="email">
      <input type="password" placeholder="请输入密码..." name="password">
      <input type="password" placeholder="请再次输入密码..." name="passwordRep">
      <button type="submit">注册</button>
    </form>
  </div>
  <div class="sign-alert">
    已有账号？<a>点击登录</a>
  </div>
  <div class="sign-close"><img src="/images/close.png"> </div>
</div>
<div id="signinFrame">
  <div class="sign-icon"><img src="/images/eye.png"></div>
  <div class="sign-top">
    注册
  </div>
  <div class="sign-form">
    <form action="/signin" method="post">
      <input type="text" placeholder="请输入邮箱..." name="email">
      <input type="password" placeholder="请输入密码..." name="password">
      <button type="submit">登录</button>
    </form>
  </div>
  <div class="sign-alert">
    没有账号？<a>点击注册</a>
  </div>
  <div class="sign-close"><img src="/images/close.png"> </div>
</div>

<div class="index-container">
  <div class="index-search">
    <div class="text-search">
      <input type="search" placeholder="搜索你喜欢的...">
    </div>
    <div class="search-hot"><span>猜你喜欢: </span>angelababy</div>
    <div class="image-search">
      <div class="image-search-cube">
        <div style="background: rgba(200,0,0,.8)"></div>
        <div style="background: rgba(255,0,0,.8)"></div>
        <div style="background: rgba(255,200,0,.8)"></div>
        <div style="background: rgba(255,255,0,.8)"></div>
        <div style="background: rgba(255,255,200,.8)"></div>
        <div class="image-search-block">
          <input type="file">
        </div>
      </div>
    </div>
  </div>
</div>
<%- include footer.ejs %>
