<div class="header view">
    <div class="header-container">
        <a href="/" class="header-icon"><img src="/images/eye.png"> </a>
        <div class="header-left">
            <a href="/view">发现</a>
            <a>最新</a>
        </div>
        <div class="nav-right">
            <% if (user) { %>
            <a href="/u/<%= user._id %>" id="nav-user"><%= user.name %></a>
            <a href="/logout">退出</a>
            <% } else { %>
            <a id="signup">注册</a>
            <a id="signin">登录</a>
            <% } %>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="to-top">
    <img src="/images/top.png" />
</div>
