<%- include header.ejs %>

<div class="tag">
    <div class="banner">
        <div class="banner-wrapper"></div>
    </div>

    <h2 class="text-center">What are you interested in?<small>Explore some of the best tips from around the city from our partners and friends.</small></h2>

    <div class="wrapper">
        <div class="item">
            <div class="item-wrapper">
                <img src="/images/category01.jpg">
                <div class="overlay"></div>
                <span class="number">8</span>
                <span class="title">Cinema</span>
            </div>
        </div>
        <div class="item">
            <div class="item-wrapper">
                <img src="/images/category02.jpg">
                <div class="overlay"></div>
                <span class="number">8</span>
                <span class="title">Food</span>
            </div>
        </div>
        <div class="item">
            <div class="item-wrapper">
                <img src="/images/category03.jpg">
                <div class="overlay"></div>
                <span class="number">8</span>
                <span class="title">Drink</span>
            </div>
        </div>
        <div class="item">
            <div class="item-wrapper">
                <img src="/images/category04.jpg">
                <div class="overlay"></div>
                <span class="number">8</span>
                <span class="title">Lodging</span>
            </div>
        </div>
        <div class="item">
            <div class="item-wrapper">
                <img src="/images/category06.jpg">
                <div class="overlay"></div>
                <span class="number">8</span>
                <span class="title">Visit</span>
            </div>
        </div>
        <div class="item">
            <div class="item-wrapper">
                <img src="/images/category07.jpg">
                <div class="overlay"></div>
                <span class="number">8</span>
                <span class="title">Shop</span>
            </div>
        </div>
    </div>
</div>

<%- include footer.ejs %>