<%- include header.ejs %>
<%- include nav.ejs %>

<div class="userpage-top">
    <div class="top-banner"></div>
    <div class="top-head">
        <img src="/images/head.jpg" />
    </div>
    <div class="top-info">
        <div class="topinfo-left">
            <a href="">喜欢<span>100</span></a>
            <a href="">收藏<span>100</span></a>
            <a href="">推荐<span>100</span></a>
        </div>
        <div class="topinfo-right">
            <a>编辑用户信息</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="user-container" id="user-container">
    <div class="img-item">
        <div class="img-top" data-imgPath="/images/view/1.jpg">
            <img src="/images/view/1.jpg" />
        </div>
        <div class="img-bottom">
            <div class="img-info">
                Angelababy, hello.
            </div>
            <div class="img-tag">
                <a href="">angelababy</a>
            </div>
            <div class="img-time">
                <a href="">2016-11-17</a>
            </div>
        </div>
    </div>

    <div class="img-item">
        <div class="img-top" data-imgPath="/images/view/2.jpg">
            <img src="/images/view/2.jpg" />
        </div>
        <div class="img-bottom">
            <div class="img-info">
                Angelababy, hello.
            </div>
            <div class="img-tag">
                <a href="">angelababy</a>
            </div>
            <div class="img-time">
                <a href="">2016-11-17</a>
            </div>
        </div>
    </div>

    <div class="img-item">
        <div class="img-top" data-imgPath="/images/view/3.jpg">
            <img src="/images/view/3.jpg" />
        </div>
        <div class="img-bottom">
            <div class="img-info">
                Angelababy, hello.
            </div>
            <div class="img-tag">
                <a href="">angelababy</a>
            </div>
            <div class="img-time">
                <a href="">2016-11-17</a>
            </div>
        </div>
    </div>

    <div class="img-item">
        <div class="img-top" data-imgPath="/images/view/4.jpg">
            <img src="/images/view/4.jpg" />
        </div>
        <div class="img-bottom">
            <div class="img-info">
                Angelababy, hello.
            </div>
            <div class="img-tag">
                <a href="">angelababy</a>
            </div>
            <div class="img-time">
                <a href="">2016-11-17</a>
            </div>
        </div>
    </div>
    <div class="img-item">
        <div class="img-top" data-imgPath="/images/view/5.jpg">
            <img src="/images/view/5.jpg" />
        </div>
        <div class="img-bottom">
            <div class="img-info">
                Angelababy, hello.
            </div>
            <div class="img-tag">
                <a href="">angelababy</a>
            </div>
            <div class="img-time">
                <a href="">2016-11-17</a>
            </div>
        </div>
    </div>

    <div class="img-item">
        <div class="img-top" data-imgPath="/images/view/6.jpg">
            <img src="/images/view/6.jpg" />
        </div>
        <div class="img-bottom">
            <div class="img-info">
                Angelababy, hello.
            </div>
            <div class="img-tag">
                <a href="">angelababy</a>
            </div>
            <div class="img-time">
                <a href="">2016-11-17</a>
            </div>
        </div>
    </div>

    <div class="img-item">
        <div class="img-top" data-imgPath="/images/view/7.jpg">
            <img src="/images/view/7.jpg" />
        </div>
        <div class="img-bottom">
            <div class="img-info">
                Angelababy, hello.
            </div>
            <div class="img-tag">
                <a href="">angelababy</a>
            </div>
            <div class="img-time">
                <a href="">2016-11-17</a>
            </div>
        </div>
    </div>

    <div class="img-item">
        <div class="img-top" data-imgPath="/images/view/8.jpg">
            <img src="/images/view/8.jpg" />
        </div>
        <div class="img-bottom">
            <div class="img-info">
                Angelababy, hello.
            </div>
            <div class="img-tag">
                <a href="">angelababy</a>
            </div>
            <div class="img-time">
                <a href="">2016-11-17</a>
            </div>
        </div>
    </div>
</div>

<%- include footer.ejs %>