* {
  transition: all 300ms;
  list-style: none;
  text-decoration: none;
}
.clear {
  clear: both;
}
img {
  width: 100%;
  height: 100%;
}

/* header style */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: .5em 1em;
  border-bottom: 2px solid rgba(201,0,0,.6);
}
.header-left {
  float: left;
  margin-left: 1.5em;
}
.header-left a {
  display: inline-block;
  padding: .5em;
  font-size: .9em;
  font-weight: bold;
  margin-top: .2em;
  margin-right: 1em;
  color: #c90000;
  border-bottom: 3px solid rgba(201,0,0,.6);
}
.header-right {
  float: right;
  margin-right: 1em;
}
.header-right a {
  display: inline-block;
  padding: .8em 1em;
  font-size: .9em;
  margin-right: 1.5em;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}
#right-user {
  background: rgba(201,0,0,.6);
  border: none;
}
#signup {
  background: rgba(201,0,0,.6);
  border: none;
}
.header-icon {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-top: -.2em;
  margin-right: 1em;
  margin-left: .5em;
}
.header-icon img {
  width: 100%;
  height: 100%;
}

/* index style */
.index-container {
  background: url("../images/background-banner.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 50px;
}
.index-search {
  width: 50%;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -25%;
  text-align: center;
}
.text-search input{
  border: 2px solid rgba(201,0,0,.6);
  width: 100%;
  padding: .8em .8em;
  font-size: 1em;
  color: #c90000;
}
.search-hot {
  color: rgba(201,0,0,.6);
  font-weight: bold;
  margin-top: .5em;
  font-size: .9em;
}
.search-hot span {
  color: #c90000;
}
.image-search {
  margin-top: .8em;
  width: 100%;
}
.image-search-cube {
  width: 300px;
  height: 60px;
  margin: 0 auto;
  position: relative;
}
.image-search-cube div {
  float: left;
  width: 60px;
  height: 60px;
}
.image-search-block {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -35px;
  margin-top: -5px;
  width: 60px;
  height: 60px;
  background: url("../images/camera.png") no-repeat 15px 15px;
  background-size: 30px 30px;
  border: 5px solid #ffffff;
}
.image-search-block input {
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


#mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(1, 0, 0, .5);
  z-index: 1001;
  display: none;
}
#signupFrame {
  width: 520px;
  background: #fff;
  position: fixed;
  left: 50%;
  margin: 0 0 0 -260px;
  text-align: center;
  padding: 30px 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  border-radius: 4px;
  z-index: 1002;
  display: none;
}
#signinFrame {
  width: 520px;
  background: #fff;
  position: fixed;
  left: 50%;
  margin: 0 0 0 -260px;
  text-align: center;
  padding: 30px 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  border-radius: 4px;
  z-index: 1002;
  display: none;
}
.sign-icon {
  margin: 0 auto;
  height: 70px;
  width: 70px;
}
.sign-icon img {
  width: 100%;
  height: 100%;
}
.sign-top {
  font-size: 1.1em;
  margin: 0 auto;
  text-align: center;
  color: #999;
  position: relative;
}
.sign-top:before {
  content: "";
  border-top: 1px solid #ededed;
  display: block;
  position: absolute;
  width: 50px;
  top: 8px;
  left: 180px;
}
.sign-top:after {
  content: "";
  border-top: 1px solid #ededed;
  display: block;
  position: absolute;
  width: 50px;
  top: 8px;
  right: 180px;
}
.sign-form {
  margin-top: 15px;
}
.sign-form input {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 5px;
  height: 36px;
  font-size: 16px;
  line-height: 1;
  color: #777;
  background: #FCFCFC;
  border: 1px solid #CCC;
  border-radius: 3px;
  width: 300px;
}
.sign-form button {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 36px;
  font-size: 16px;
  line-height: 1;
  background: linear-gradient( #E53E49, #D43636);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
  text-shadow: 0 -1px 0 rgba(0,0,0,.1);
  color: #fff;
  border: 1px solid #C90000;
  border-radius: 3px;
  width: 320px;
}
.sign-alert {
  margin-top: 5px;
  font-size: .8em;
}
.sign-alert a {
  color: #9A0000;
  margin-left: 10px;
}
.sign-close {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


/* view page */
.view {
  background: #ffffff;
  box-shadow: 0 0 4px rgba(0,0,0,.2);
}
.nav-right {
  float: right;
  margin-right: 1em;
}
.nav-right a {
  display: inline-block;
  padding: .8em 1em;
  font-size: .9em;
  margin-right: 1.5em;
  color: #c90000;
  border: 1px solid #c90000;
  cursor: pointer;
}
#nav-user {
  background: rgba(201,0,0,.6);
  color: #ffffff;
  border: none;
}


/* view */
.view-container {
  padding: 1em;
  margin-top: 60px;
}
.view-left {
  width: 18%;
  float: left;
}
.user-panel {
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.user-panel-top {
  background: #FAFAFA;
  margin-bottom: 1em;
}
.user-head {
  height: 60px;
  width: 60px;
  border: #c90000 solid 1px;
  float: left;
}
.user-name {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
}
.user-panel-bottom a {
  display: inline-block;
  width: 30%;
  text-align: center;
}
.bottom-top {
  border-top: 1px solid #ededed;
}
.bottom-top a {
  padding-top: 1em;
  color: #999;
  font-size: .8em;
  font-weight: bold;
}
.bottom-btm a {
  margin-top: .3em;
  color: #c90000;
  font-weight: bold;
  font-size: 1em;
}
.view-right {
  width: 80%;
  float: left;
  margin-left: 1.5em;
  position: relative;
}
.img-item {
  width: 30%;
  float: left;
  margin-right: 16px;
  margin-bottom: 20px;
  padding: .5em;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.img-bottom {
  padding: .5em;
}
.img-info {
  margin-bottom: .5em;
  font-size: 1em;
}
.img-tag {
  margin-bottom: .5em;
}
.img-tag a {
  font-size: .6em;
  font-weight: bold;
  color: #c90000;
}
.img-time a {
  color: #999;
  font-weight: bold;
  font-size: .8em;
}

/* user page */
.userpage-top {
  position: relative;
}
.top-banner {
  height: 180px;
  width: 100%;
  background: rgba(201,0,0,.6);
}
.top-head {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 100px;
  left: 40px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(201,0,0,.6);
}
.top-info {
  padding: .8em;
  border-bottom: solid 3px rgba(201,0,0,.6);
}
.topinfo-left {
  float: left;
  margin-left: 200px;
  margin-top: .4em;
}
.topinfo-left a {
  font-size: .9em;
  color: #66757f;
  display: inline-block;
  margin-right: 2em;
}
.topinfo-left a span {
  color: rgba(201,0,0,.6);
  font-weight: bolder;
  font-size: 1em;
  margin-left: .3em;
}
.topinfo-right {
  float: right;
}
.topinfo-right a {
  display: inline-block;
  padding: .6em;
  font-size: .7em;
  background: linear-gradient( #E53E49, #D43636);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
  text-shadow: 0 -1px 0 rgba(0,0,0,.1);
  color: #fff;
  border: 1px solid #C90000;
  border-radius: 3px;
}
.user-container {
  position: relative;
  margin: 2em  0 0 2em;
}